Repository wesleyfreit/TranscriptionAI: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write

chore: add frontend nextjs initial config
  apps/api/src/index.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: add turbo start, test and clean config
  turbo.json
Due: none

chore: update all project dependencies
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add and set chadcn/ui config
  apps/web/components.json
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/lib/utils.ts
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add chadcn/ui components that will be used
  apps/web/package.json
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: creating home web page
  apps/web/package.json
  apps/web/src/app/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add fastify and set hello router and an routes.http file
  apps/api/package.json
  apps/api/routes.http
  apps/api/src/index.ts
Due: eslint --fix, prettier --check --write

feat: add prisma and set database model
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma/migrations/20231228171718_create_video_and_prompt_models/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
Due: none

feat: set prompt model with methods
  apps/api/package.json
  apps/api/src/models/Prompt.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

feat: set prompt controller and routes
  apps/api/src/controllers/PromptController.ts
  apps/api/src/index.ts
  apps/api/src/routers/promptRoutes.ts
Due: eslint --fix, prettier --check --write

feat: componentizing home page
  apps/web/src/app/page.tsx
  apps/web/src/components/FormTranscription.tsx
  apps/web/src/components/FormVideo.tsx
  apps/web/src/components/Header.tsx
Due: eslint --fix, prettier --check --write

feat: creating Video model and create video method
  apps/api/src/models/Video.ts
Due: eslint --fix, prettier --check --write

feat: creating amazon s3 integration to use cloudflare bucket
  apps/api/package.json
  apps/api/src/lib/getPreSignedUrl.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

set multipart config to accept requests with files and setting cors origin true
  apps/api/package.json
  apps/api/src/index.ts
Due: eslint --fix, prettier --check --write

feat: creating video router and video controller to upload video converted to audio to cloudflare and register in the database
  apps/api/package.json
  apps/api/src/controllers/VideoController.ts
  apps/api/src/index.ts
  apps/api/src/routers/videoRoutes.ts
Due: eslint --fix, prettier --check --write

fix: correcting mimetype and removing routes.http
  apps/api/routes.http
  apps/api/src/controllers/VideoController.ts
Due: eslint --fix, prettier --check --write

fix: adjusting the name and path of the audio to save in the database
  apps/api/src/controllers/VideoController.ts
Due: eslint --fix, prettier --check --write

feat: adding styles in scrollbar
  apps/web/src/app/globals.css
Due: prettier --check --write

refactor: refactoring, removing unnecessary things and performing the code
  apps/api/src/controllers/VideoController.ts
  apps/api/src/index.ts
  turbo.json
Due: eslint --fix, prettier --check --write

refactor: refactoring videoController and adding return prisma error message
  apps/api/src/controllers/VideoController.ts
  apps/api/src/lib/capitalizeFirstLetter.ts
Due: eslint --fix, prettier --check --write

refactor: separing s3 config to getPreSignedUrl
  apps/api/src/config/s3.ts
  apps/api/src/lib/getPreSignedUrl.ts
Due: eslint --fix, prettier --check --write

feat: add transcription router, save transcription function and validation schema
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/controllers/VideoController.ts
  apps/api/src/index.ts
  apps/api/src/lib/getValidationError.ts
  apps/api/src/models/Video.ts
  apps/api/src/routers/videoRoutes.ts
  apps/api/src/schemas/paramsSchema.ts
  apps/api/src/schemas/transcriptionSchema.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

refactor: removing temperature parameter from transcription schema
  apps/api/src/controllers/VideoController.ts
  apps/api/src/schemas/transcriptionSchema.ts
Due: eslint --fix, prettier --check --write

feat: creating generate ai complete function and router to create the summary
  apps/api/package.json
  apps/api/src/config/openai.ts
  apps/api/src/controllers/PromptController.ts
  apps/api/src/lib/numOfTokensFromString.ts
  apps/api/src/routers/promptRoutes.ts
  apps/api/src/schemas/aiCompleteSchema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: creating mp3 to mp4 file conversion function using ffmpeg
  apps/web/package.json
  apps/web/src/lib/ffmpeg.ts
  apps/web/src/utils/convertMp3ToMp4.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor: altering chacnui util.ts to cn.ts and lib folder name to libs
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/libs/cn.ts
  apps/web/src/libs/ffmpeg.ts
  apps/web/src/utils/convertMp3ToMp4.ts
Due: eslint --fix, prettier --check --write

fix: correcting incorrect filename and add axios error reply
  apps/api/src/controllers/VideoController.ts
Due: eslint --fix, prettier --check --write

refactor: removing console.log's
  apps/web/src/libs/ffmpeg.ts
  apps/web/src/utils/convertMp3ToMp4.ts
Due: eslint --fix, prettier --check --write

feat: adding video preview and handling save form saving functions in FormVideo, and axios configuration
  apps/web/src/components/FormVideo.tsx
  apps/web/src/components/Spinner.tsx
  apps/web/src/lib/ffmpeg.ts
  apps/web/src/lib/utils.ts
  apps/web/src/libs/axios.ts
  turbo.json
Due: eslint --fix, prettier --check --write

refactor: separating functions to improve code readability
  apps/web/src/components/FormVideo.tsx
  apps/web/src/components/Header.tsx
  apps/web/src/services/api.ts
  apps/web/src/services/videos.ts
  apps/web/src/types/status.d.ts
  apps/web/src/utils/formVideoStatusMessages.ts
Due: eslint --fix, prettier --check --write

feat: adding functionality to transcription form fields
  apps/web/src/components/FormTranscription.tsx
  apps/web/src/components/SelectItems.tsx
  apps/web/src/dtos/PromptDTO.ts
  apps/web/src/libs/axios.ts
  apps/web/src/services/prompts.ts
Due: eslint --fix, prettier --check --write

refactoring: add same depedencies used in both apps from root directory package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: add prompt seed and prisma run command
  apps/api/package.json
  apps/api/prisma/seed.ts
Due: eslint --fix, prettier --check --write

feat: add AI Complete in both apps to make transcription more AI-like
  apps/api/src/controllers/PromptController.ts
  apps/api/src/routers/promptRoutes.ts
  apps/api/src/schemas/aiCompleteSchema.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/FormTranscription.tsx
  apps/web/src/components/FormVideo.tsx
  apps/web/src/services/ai.ts
Due: eslint --fix, prettier --check --write

fix: correcting obsolete pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: none

feat: add vercel-build script to run prisma migrate deploy
  apps/api/package.json
Due: none

fix: correcting vercel-build script adding prisma generate script
  apps/api/package.json
Due: none

build: update build scripts
  package.json
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --check --write: any of: **/*.{ts,tsx,css}
